{% extends "header.html" %}

{% block head %}
	<!-- <h2>Hello {{ name_to_pass }} </h2> -->
{% endblock %}

{% block body %}
	
<h3>Items in your Likelist</h3>

<table class="table table-striped">
	<tr>
        <th>title</th>
        <th>class</th>
        <th>price</th>
        <th>quantity</th>
    </tr>
    {% for data in item_data %}
    <tr>
        <th><a href="/item/{{data[3]}}/">{{data[0]}}</a></th>
        <th>{{data[1]}}</th>
        <th>{{data[2]}}</th>
        <th>{{data[4]}}</th>
    </tr>
    {% endfor %}
</table>


	

	

{% endblock %}



