<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8">
    <title>Columbia Second-hand Trading</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

</head>
<header >


    <ul class="nav navbar-nav navbar-right" >

        {% if session.logged_in %}

            {% if session['character'] == 'buyer'%}
                <li><a href="/logout/"><span class="glyphicon glyphicon-log-in"></span>  log out </a></li>
                <li class="dropdown">
                    <a href="/register/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-align-justify"></span> my account&nbsp;&nbsp;<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/userfile/">my file</a></li>
                        <li><a href="/buyers_likelist/">like list</a></li>
                        <li><a href="/my_messages/">my messages</a></li>
                        <li><a href="/buy_history/">buy history</a></li>
                    </ul>
                </li>

            {% else %}
                <li><a href="/logout/"><span class="glyphicon glyphicon-log-in"></span> log out</a></li>
                <li class="dropdown">
                    <a href="/register/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-align-justify"></span> my account&nbsp;&nbsp;<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/userfile/">my file</a></li>
                        <li><a href="/my_messages/">my messages</a></li>
                        <li><a href="/mysell/">sell list</a></li>
                    </ul>
                </li>
            {% endif %}
        {% else %}
        <li><a href="/login/"><span class="glyphicon glyphicon-log-in"></span> log in</a></li>
        <li><a href="/register/"><span class="glyphicon glyphicon-pencil"></span> sign up</a></li>
        
        {% endif %}
    </ul>


    <ul class="nav nav-tabs">
<!--     <li role="presentation" class="active"><a href="/index/">Home</a></li> -->
    {% if session.logged_in %}
        {% if session['character'] == 'buyer'%}
            <li role="presentation"><a href="/index/">Home</a></li>
            <li role="presentation"><a href="/userfile/">Profile</a></li>
            <li role="presentation"><a href="/my_messages/">Messages</a></li>
            <li role="presentation"><a href="/buyers_likelist/">Like List</a></li>
            <li role="presentation"><a href="/buy_history/">Buy History</a></li>
        {% else %}
            <li role="presentation"><a href="/index/">Home</a></li>
            <li role="presentation"><a href="/userfile/">Profile</a></li>
            <li role="presentation"><a href="/my_messages/">Messages</a></li>
            <li role="presentation"><a href="/mysell/">Selling List</a></li>
            <li role="presentation"><a href="/sell_history/">Sell History</a></li>
        {% endif %}
    {% endif %}
    </ul>
    
    {% if session.logged_in %}
        Hi, {{session['username']}}
    {% endif %}

    {% block head %} 

    {% endblock %}
</header>

<body>

	{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {% block body %} 

    {% endblock %}
</body>

</html>
