{% extends "header.html" %}



{% block head %}
	<!-- <h2>Hello {{ name_to_pass }} </h2> -->
    <h3>Welcome to buy our items</h3>
    <a href="/index/"><button>all items</button></a>
    <a href="/index/bed/"><button>beds</button></a>
    <a href="/index/desk/"><button>desks</button></a>
    <a href="/index/book/"><button>books</button></a>
    <a href="/index/clothes/"><button>clothes</button></a>
    <a href="/index/others/"><button>others</button></a>
    <br>
    <br>

{% endblock %}

{% block body %}
	
<!-- item_data: name, theclass, price, iid, quantity, sellingstatus -->

<table class="table table-striped">
	<tr>
        <th>item</th>
        <th>class</th>
        <th>price</th>
        <th>quantity</th>
    </tr>
    {% for data in item_data %}
        {% if data[5] %}
        <tr>
            <th><a href="/item/{{data[3]}}/">{{data[0]}}</a></th>
            <th>{{data[1]}}</th>
            <th>{{data[2]}}</th>
            <th>{{data[4]}}</th>
        </tr>
        {% endif %}
    {% endfor %}
</table>


	

	

{% endblock %}



