{% extends "header.html" %}


<!-- item_data: iid, name, sellerid, class, description, price, quantity, 7 sellingstatus, cancelstatus -->
<!-- isbuyer : boolean-->

{% block body %}
    <h3> Item Information </h3>
	<h4>name: {{item_data[1]}}</h4>
	<h4> seller: {{seller_name[0]}} 
     <form method='POST' action="/new_message/" style="display:inline-block">  
    	<input type = 'hidden' name = 'receiver_id' value = {{item_data[2]}} />
    	<input type='submit'  value='Send a message' />
	</form> 
    </h4>
	<h4>class: {{item_data[3]}}</h4>
	<h4>price: ${{item_data[5]}}</h4>
	<h4>quantity: {{item_data[6]}}</h4>
	<h4>description:</h4>
	<p>{{item_data[4]}}</p>
    <br>
    <h4>Here shows the pictures:</h4>
    {% for picture in pictures %}
        <img src="{{ url_for('static', filename='picture/{}'.format(picture[0])) }}" width="128" height="128" > 
        <br>
        <br>
    {% endfor %}


	<!--<a href="/item/"><button>Add into likelist</button></a>-->
	
<!-- begin Likelistbox -->
{% if isbuyer %}
    {% if likeit %}
    <p> This item is added into your Likelist.</p> <br>
    {% else %}
    <form method='POST' action="/add_likelist/">
        Do you like it？   
        <input type = 'hidden' name = 'item_id' value = {{item_data[0]}} />
        <input type='submit' value='Add into Likelist' />
    </form>
    {% endif %}
{% endif %}

<br>
<br>
<!-- end Likelistbox -->

{% if item_data[8] %}
    <p> This item has been cancelled.</p> <br>
{% elif not item_data[7] %}
    <p> This item has been sold.</p> <br>
{% elif isbuyer %}

<form method='POST' action="/purchase/"> 
    <!-- <input type="text" name = 'quantity' onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
    </input> -->
    <input type = 'hidden' name = 'item_id' value = {{item_data[0]}} />
    <input type = 'hidden' name = 'seller_id' value = {{item_data[2]}} />
    <input type = 'hidden' name = 'price' value = {{item_data[5]}} />
    <input type='submit' value='Buy it' />
</form>
{% elif session['uid'] == item_data[2] %}
Add more picture
<form action="/upload_picture/" method="POST" enctype="multipart/form-data">
    <input type = 'hidden' name = 'item_id' value = {{item_data[0]}} />
    <input type="file" name="file" />
    <input type="submit" value="upload" />
</form>

<form method='POST' action="/cancel/"> 
    <input type = 'hidden' name = 'item_id' value = {{item_data[0]}} />
    <input type='submit' value = 'Cancel it' />
</form>
<br>


  
{% endif %}


<br>
<br>
<h4> Comments: </h4>
<!-- begin commentbox -->
{% for comment in comments %}

user:{{comment[0]}} 
<form method='POST' style="display:inline-block" action="/new_message/">
    <input type = 'hidden' name = 'receiver_id' value = {{comment[3]}} />
    <input type='submit' value='Send a message' />
</form> <br>
time: {{comment[1]}} <br>
comment: {{comment[2]}}
<br>
<br>
<br>
{% endfor %}

{% if isbuyer %}
<form method='POST' action="">
    Make comment:
    <br />
    <textarea name='comment' id='comment'></textarea>
    <br />
    
    <input type='submit' value='Submit' />
</form>
{% endif %}
<!-- end commentbox -->



{% endblock %}

