
{% extends "header.html" %}


<!-- Prepared to Display: name, email, phone, credit card -->

<!-- user_data: uid, name, password, email, phone -->
<!-- card_data: uid, cardnumber, ownername -->

{% block body %}
<h1> Profile </h1>
<h3> Name: {{user_data[1]}} </h3> 
<h3> Email: {{user_data[3]}} </h3> 
<h3> Phone: 
{% if user_data[4] %}
{{user_data[4]}}
<form method='GET' action="/add_phone/">
    <input type='submit' value='Change Number' />
</form>

{% else %}
<form method='GET' action="/add_phone/">
    <input type='submit' value='ADD' />
</form>
{% endif %}
</h3>
<h3> Credit Card: 
{% if card_data %}
****{{card_data[1][12:]}}
<form method='GET' action="/add_card/">
    <input type='submit' value='Change Card' />
</form>
{% else %}
<form method='GET' action="/add_card/">
    <input type='submit' value='ADD Card' />
</form>
{% endif %}


{% endblock %}
